/* FOOTER */
footer {
  background: #955251;
  color: #dcae96;
  padding: 60px 20px 30px;
  margin-top: 50px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 35px;
}

.footer-box h3 {
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
}

.footer-box p {
  margin: 6px 0;
  font-size: 14px;
  opacity: 0.9;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.social-icons a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #dcae96;
  color: #955251;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icons a:hover {
  background: #000;
  color: #dcae96;
  transform: translateY(-4px);
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid rgba(220, 174, 150, 0.4);
  padding-top: 15px;
  font-size: 14px;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  footer {
    padding: 40px 15px 25px;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-box h3 {
    font-size: 18px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}
