/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 20px;
  border-bottom: 2px solid #955251;
  position: relative;
}
.header-center {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.logo {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #955251;
  color: #dcae96;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 3px;
}
header h1 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

header p {
  margin-top: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
}
.header-icon {
  margin-left: auto;
}
/* ICONS */
#user-icon,
#cart-icon {
  font-size: 32px;
  margin-right: 15px;
  color: #955251;
  cursor: pointer;
  transition: 0.3s;
}

#user-icon:hover,
#cart-icon:hover {
  color: #000;
}
.nav-links {
  display: flex;
  gap: 28px;
  margin-left: 50px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #955251;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1.5px;
  background: #955251;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #000;
}

.nav-links a:hover::after {
  width: 100%;
}
/* LANGUAGE SELECT */
#language-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: transparent;
  border: 1px solid #955251;
  border-radius: 8px;
  padding: 7px 30px 7px 12px;

  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  color: #955251;

  cursor: pointer;
  margin-right: 18px;
  transition: all 0.3s ease;
}

/* hover */
#language-select:hover {
  background-color: #955251;
  color: #dcae96;
  margin: auto;
}
#language-select:focus {
  outline: none;
  box-shadow: 0 0 0 1px #955251;
}
.header-icon {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: auto;
}
.header-icon i:hover {
  color: #000000;
  transform: scale(1.08);
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px 15px;
    text-align: center;
  }

  .header-center {
    flex-direction: column;
    gap: 10px;
  }

  header h1 {
    font-size: 26px;
    letter-spacing: 3px;
  }

  header p {
    font-size: 11px;
    letter-spacing: 2px;
  }
  .nav-links {
    margin: 20px 0 10px;
    flex-direction: column;
    gap: 15px;
  }
  .header-icon {
    margin: 15px 0 0;
    justify-content: center;
  }

}
@media (max-width: 480px) {

  header h1 {
    font-size: 22px;
  }

  .logo {
    width: 48px;
    height: 48px;
    font-size: 16px;
  }

  button {
    width: 100%;
  }

  .auth-box {
    width: 90%;
    padding: 25px 20px;
  }
}


/* ===== BURGER MENU ===== */
.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.burger span {
  width: 28px;
  height: 2px;
  background-color: #955251;
  transition: 0.3s ease;
}

/* Mobile */
@media (max-width: 768px) {

  .burger {
    display: flex;
    margin-top: 15px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 18px;
    margin-top: 20px;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }
}
.logo-link {
  text-decoration: none;   
  color: #dcae96;         
}
.logo-link:hover {
  color: #dcae96; /
}